@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />
<div class="text-center">
    <h1 class="display-4">Selamat Datang di </h1>
    <h1 class="display-4">Sistem Informasi Akademik Kampus</h1>

</div>

